<?xml version="1.0"?>
<config>
    <modules>
        <Baobaz_CustomSmtp>
            <version>0.0.1</version>
        </Baobaz_CustomSmtp>
    </modules>
    <admin>
        <routers>
            <Baobaz_CustomSmtp>
                <use>admin</use>
                <args>
                    <module>Baobaz_CustomSmtp</module>
                    <frontName>Baobaz_CustomSmtp</frontName>
                </args>
            </Baobaz_CustomSmtp>
        </routers>
    </admin>
    <global>
        <helpers>
            <Baobaz_CustomSmtp>
                <class>Baobaz_CustomSmtp_Helper</class>
            </Baobaz_CustomSmtp>
        </helpers>
       <models>
            <Baobaz_CustomSmtp>
                 <class>Baobaz_CustomSmtp_Model</class>
            </Baobaz_CustomSmtp>
            <core>
                <rewrite>
                    <email_template>Baobaz_CustomSmtp_Model_Template</email_template>
                </rewrite>
            </core>
       </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Baobaz_CustomSmtp>
                    <files>
                        <default>Baobaz_CustomSmtp.csv</default>
                    </files>
                </Baobaz_CustomSmtp>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <system>
            <smtp>
                <transport>sendmail</transport>
                <auth>LOGIN</auth>
                <username />
                <password />
                <ssl>tls</ssl>
            </smtp>
        </system>
    </default>
</config>