<?xml version="1.0"?>
<config>
    <sections>
        <system>
            <groups>
                <smtp>
                    <fields>
                        <transport translate="label">
                            <label>Send email via</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Baobaz_CustomSmtp/source_transport</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </transport>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </host>
                        <port translate="label">
                            <label>Port</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </port>
                        <!--
                        <auth translate="label">
                            <label>Authentication method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_smtpauth</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auth>
                        -->
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><transport>smtp</transport></depends>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><transport>smtp</transport></depends>
                        </password>
                        <ssl translate="label">
                            <label>SSL</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Baobaz_CustomSmtp/source_ssl</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><transport>smtp</transport></depends>
                        </ssl>
                    </fields>
                </smtp>
            </groups>
        </system>
    </sections>
</config>